.main_index {
  background-image: url("../images/home.jpg");
  background-repeat: no-repeat;
  min-height: 770px;
  width: 100%;
  background-size: cover;
  margin-top: -20px;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
}

.index-intro {
  padding: 15px;
  text-align: center;
}

.products-container {
  background-color: var(--background);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-card {
  background: var(--linear);
  margin: 20px auto;
  width: 250px;
  padding: 30px;
  border-radius: 5px;
}

.product-card img {
  width: 100%;
}

.product-info {
  background-color: var(--background);
  padding: 15px;
}

.newsletter-container {
  background: var(--linear);
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  align-items: center;
}
