:root {
  /*fonts*/
  --text: "Open Sans";
  --header: "Domine";

  /*colors*/
  --background: #b2bfb0;
  --main: #374036;
  --section: #eaf2e4;
  --linear: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
}
